header
{
    display: flex;
    justify-content: space-around;
}
 .login-btn, #getStarted
 {
    box-sizing: border-box;
    display: inline-block;
    height: 50px;
    padding: 0 4rem;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    line-height: 50px;
    text-decoration: none;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #dcdce4;
    color: #66b3ff
    ;
    margin: 15px;

 }
 .login-btn:hover, #getStarted:hover
 {
    background-color: #4da6ff;
    color:white;
 }
 img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 20px;
 }

 @font-face {
    font-family: Hansen_Shadow;
    src: url(Hansen_Shadow.ttf);
    font-family: Rockness;
    src: url(Rockness.ttf);
  }

  #Title
  {
      font-family: Hansen_Shadow;
      font-size: 47px;
      color:#4da6ff;
  }
  .main
  {
     display: flex;
     justify-content: center;
     align-items: center;
  }
  
  .login
  {
     background-image: url("https://rapidweaver.marathia.com/stacks/superbnb/demo6_files/SbgI_local_1945.jpg");
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 35%;
     height:200%;
     z-index: 2;
     margin: auto;
     padding: 20px;
     
  }
  .Input
  {
  background-color: transparent;
  border: none;
  border-bottom: solid white;
  outline: none;
  caret-color: white;
  
  
  }
  input[type=text]
  {
   color: white;
  }
  ::placeholder
  {
   color:white;
  }
  #loginTitle
  {
   color:white;
   font-family: Rockness;
   font-size: 55px;
  
  }
  #loginButton
  {
   color:rgb(165, 165, 223);
   border-radius: 3%;
   border-color: transparent;
  font-size: 19px;
  padding: 5px;
  width:180px;
  color:  #5353f8;
  font-weight: bold;
  font-family: 'Courier New', Courier;
  outline: none;
  
  }
  #forgetPsw
  {
   color:white;
   text-decoration: none;
  }
  
