header
{
   background-image: linear-gradient(to bottom right, #598dbd, wheat)
}

.nav-op
{
   height: 50px;
   padding: 0 4rem;
   color: rgb(87, 82, 82);
   font-size: 16px;
   font-weight: normal;
   line-height: 70px;
   text-decoration: none;
   border:none;
}

.btn
{
  right: 0;
  float:right;
}

#getStarted
 {
   box-sizing: border-box;
   display: inline-block;
   height: 50px;
   padding: 0 4rem;
   text-align: center;
   font-size: 16px;
   font-weight: normal;
   line-height: 50px;
   text-decoration: none;
   border-radius: 6px;
   background-color: #aac0d4;
   border: 1px solid #dcdce4;
   color: rgb(87, 82, 82);
   margin: 15px;
 }

#getStarted:hover
 {
   background-color: #8ca1b4;
 }

img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
   margin-top: 20px;
 }

 @font-face 
 {
   font-family: Hansen_Shadow;
   src: url(Hansen_Shadow.ttf);
   font-family: Rockness;
   src: url(Rockness.ttf);
}

.main
{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-left:200px ;
}
  
#Title
  {
   font-size: 67px;
   font-family: Rockness;
   text-align: center;
   color: rgb(117, 117, 117);  
  }
  
.login
  {
   background-image: linear-gradient(to bottom right, #598dbd, wheat);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 35%;
   height:500px;
   z-index: 2;
   margin: auto;
   margin-top: 25px;
   padding: 20px;  
  }

.Input
  {
  background-color: transparent;
  border: none;
  border-bottom: solid  rgb(117, 117, 117);;
  outline: none;
  caret-color:  rgb(117, 117, 117);;
  }

input[type=text]
  {
   color:  rgb(117, 117, 117);;
  }

::placeholder
  {
   color: rgb(117, 117, 117);;
  }

#loginTitle
  {
   color: rgb(117, 117, 117);;
   font-family: Rockness;
   font-size: 55px;
  }

#loginButton
  {
   color:rgb(165, 165, 223);
   border-radius: 4%;
   border: solid 2px  rgb(117, 117, 117);
   font-size: 19px;
   padding: 5px;
   width:180px;
   color:   rgb(117, 117, 117);
   font-weight: bold;
   font-family: 'Courier New', Courier;
   outline: none;
   background-image: linear-gradient(to bottom right, #598dbd, wheat);
  }

#forgetPsw
  {
   color: rgb(117, 117, 117);
   text-decoration: none;
  }
  
